Checks: "clang-diagnostic-*,
  clang-analyzer-*,
  performance-*,
  bugprone-branch-clone,
  bugprone-copy-constructor-init,
  bugprone-exception-escape,
  bugprone-fold-init-type,
  bugprone-forward-declaration-namespace,
  bugprone-incorrect-roundings,
  bugprone-infinite-loop,
  bugprone-macro-parentheses,
  bugprone-integer-division,
  bugprone-misplaced-operator-in-strlen-in-alloc,
  bugprone-misplaced-pointer-arithmetic-in-alloc,
  bugprone-misplaced-widening-cast,
  bugprone-move-forwarding-reference,
  bugprone-multiple-statement-macro,
  bugprone-parent-virtual-call,
  bugprone-posix-return,
  bugprone-unused-local-non-trivial-variable,
  bugprone-unused-raii,
  bugprone-unused-variable,
  bugprone-reserved-identifier,
  bugprone-signal-handler,
  bugprone-redundant-branch-condition,
  bugprone-sizeof-container,
  bugprone-sizeof-expression,
  bugprone-spuriously-wake-up-functions,
  bugprone-string-constructor,
  bugprone-string-integer-assignment,
  bugprone-string-literal-with-embedded-nul,
  bugprone-suspicious-enum-usage,
  bugprone-suspicious-memset-usage,
  bugprone-suspicious-missing-comma,
  bugprone-suspicious-semicolon,
  bugprone-suspicious-string-compare,
  bugprone-suspicious-include,
  cppcoreguidelines-avoid-goto,
  cppcoreguidelines-avoid-magic-numbers,
  modernize-make-shared,
  modernize-make-unique,
  modernize-pass-by-value,
  modernize-use-equals-default,
  modernize-use-equals-delete,
  modernize-deprecated-headers,
  modernize-loop-convert,
  modernize-use-auto,
  modernize-use-emplace,
  modernize-use-nullptr,
  modernize-use-override,
  modernize-use-transparent-functors,
  modernize-use-uncaught-exceptions,
  modernize-use-using,
  modernize-use-starts-ends-with,
  modernize-use-std-numbers,
  readability-convert-member-functions-to-static,
  readability-else-after-return,
  readability-make-member-function-const,
  readability-non-const-parameter,
  readability-qualified-auto,
  readability-redundant-access-specifiers,
  readability-redundant-control-flow,
  readability-redundant-declaration,
  readability-redundant-function-ptr-dereference,
  readability-redundant-member-init,
  readability-redundant-preprocessor,
  readability-redundant-smartptr-get,
  readability-static-accessed-through-instance,
  readability-static-definition-in-anonymous-namespace,
  readability-uniqueptr-delete-release,
  readability-identifier-naming,
  readability-function-size,
  readability-magic-numbers

WarningsAsErrors: ""

HeaderFilterRegex: '.*\.h*'

FormatStyle: file

CheckOptions:
  # 抽象类命名规则：大骆驼命名法
  - key: readability-identifier-naming.AbstractClassCase
    value: CamelCase
  - key: readability-identifier-naming.AbstractClassPrefix
    value: ""
  - key: readability-identifier-naming.AbstractClassSuffix
    value: ""
  - key: readability-identifier-naming.AbstractClassIgnoredRegexp
    value: ""
  - key: readability-identifier-naming.AbstractClassHungarianPrefix
    value: ""

  # 是否进行积极的从属成员查找
  - key: readability-identifier-naming.AggressiveDependentMemberLookup
    value: false

  # 检查父类匿名字段规则
  - key: readability-identifier-naming.CheckAnonFieldInParent
    value: true

  # 类命名规则: 大骆驼命名法
  - key: readability-identifier-naming.ClassCase
    value: CamelCase
  - key: readability-identifier-naming.ClassPrefix
    value: ""
  - key: readability-identifier-naming.ClassSuffix
    value: ""
  - key: readability-identifier-naming.ClassIgnoredRegexp
    value: ""
  - key: readability-identifier-naming.ClassHungarianPrefix
    value: ""

  # 类常量命名规则：全部大写
  - key: readability-identifier-naming.ClassConstantCase
    value: UPPER_CASE
  - key: readability-identifier-naming.ClassConstantPrefix
    value: ""
  - key: readability-identifier-naming.ClassConstantSuffix
    value: ""
  - key: readability-identifier-naming.ClassConstantIgnoredRegexp
    value: "[._a-z]*(type|t|value|v)"
  - key: readability-identifier-naming.ClassConstantHungarianPrefix
    value: ""

  # 类成员变量命名规则：小骆驼命名法，用_作为前缀
  - key: readability-identifier-naming.ClassMemberCase
    value: lower_case
  - key: readability-identifier-naming.ClassMemberPrefix
    value: ""
  - key: readability-identifier-naming.ClassMemberSuffix
    value: ""
  - key: readability-identifier-naming.ClassMemberIgnoredRegexp
    value: ""
  - key: readability-identifier-naming.ClassMemberHungarianPrefix
    value: ""

  # 类方法命名规则：大骆驼命名法
  - key: readability-identifier-naming.ClassMethodCase
    value: CamelCase
  - key: readability-identifier-naming.ClassMethodPrefix
    value: ""
  - key: readability-identifier-naming.ClassMethodSuffix
    value: ""
  - key: readability-identifier-naming.ClassMethodIgnoredRegexp
    value: "Signal_.*"

  # 概念命名规则：大骆驼命名法
  - key: readability-identifier-naming.ConceptCase
    value: CamelCase
  - key: readability-identifier-naming.ConceptPrefix
    value: ""
  - key: readability-identifier-naming.ConceptSuffix
    value: ""
  - key: readability-identifier-naming.ConceptIgnoredRegexp
    value: ""

  # 常量命名规则：全部大写
  - key: readability-identifier-naming.ConstantCase
    value: UPPER_CASE
  - key: readability-identifier-naming.ConstantPrefix
    value: ""
  - key: readability-identifier-naming.ConstantSuffix
    value: ""
  - key: readability-identifier-naming.ConstantIgnoredRegexp
    value: "[._a-z]*(type|t|value|v)"
  - key: readability-identifier-naming.ConstantHungarianPrefix
    value: ""

  # 类常量命名规则：全部大写
  - key: readability-identifier-naming.ConstantMemberCase
    value: UPPER_CASE
  - key: readability-identifier-naming.ConstantMemberPrefix
    value: ""
  - key: readability-identifier-naming.ConstantMemberSuffix
    value: ""
  - key: readability-identifier-naming.ConstantMemberIgnoredRegexp
    value: "[._a-z]*(type|t|value|v)"
  - key: readability-identifier-naming.ConstantMemberHungarianPrefix
    value: ""

  # 参数常量命名规则: 小骆驼命名法
  - key: readability-identifier-naming.ConstantParameterCase
    value: lower_case
  - key: readability-identifier-naming.ConstantParameterPrefix
    value: ""
  - key: readability-identifier-naming.ConstantParameterSuffix
    value: ""
  - key: readability-identifier-naming.ConstantParameterIgnoredRegexp
    value: ""
  - key: readability-identifier-naming.ConstantParameterHungarianPrefix
    value: ""

  # 指针参数常量命名规则：小骆驼命名法
  - key: readability-identifier-naming.ConstantPointerParameterCase
    value: lower_case
  - key: readability-identifier-naming.ConstantPointerParameterPrefix
    value: ""
  - key: readability-identifier-naming.ConstantPointerParameterSuffix
    value: ""
  - key: readability-identifier-naming.ConstantPointerParameterIgnoredRegexp
    value: ""
  - key: readability-identifier-naming.ConstantPointerParameterHungarianPrefix
    value: ""

  # 枚举命名规则：大骆驼命名法
  - key: readability-identifier-naming.EnumCase
    value: CamelCase
  - key: readability-identifier-naming.EnumPrefix
    value: ""
  - key: readability-identifier-naming.EnumSuffix
    value: ""
  - key: readability-identifier-naming.EnumIgnoredRegexp
    value: ""

  # 枚举常量命名规则：全部大写
  - key: readability-identifier-naming.EnumConstantCase
    value: UPPER_CASE
  - key: readability-identifier-naming.EnumConstantPrefix
    value: ""
  - key: readability-identifier-naming.EnumConstantSuffix
    value: ""
  - key: readability-identifier-naming.EnumConstantIgnoredRegexp
    value: ""
  - key: readability-identifier-naming.EnumConstantHungarianPrefix
    value: ""

  # 函数命名规则：大骆驼命名法
  - key: readability-identifier-naming.FunctionCase
    value: CamelCase
  - key: readability-identifier-naming.FunctionPrefix
    value: ""
  - key: readability-identifier-naming.FunctionSuffix
    value: ""
  - key: readability-identifier-naming.FunctionIgnoredRegexp
    value: "(is_)?[a-z]*(_(v|t|type|value))?"

  # 配置文件获取
  - key: readability-identifier-naming.GetConfigPerFile
    value: true

  # 全局常量命名规则：全部大写
  - key: readability-identifier-naming.GlobalConstantCase
    value: UPPER_CASE
  - key: readability-identifier-naming.GlobalConstantPrefix
    value: ""
  - key: readability-identifier-naming.GlobalConstantSuffix
    value: ""
  - key: readability-identifier-naming.GlobalConstantIgnoredRegexp
    value: ""
  - key: readability-identifier-naming.GlobalConstantHungarianPrefix
    value: ""

  # 全局常量指针命名规则：全部大写
  - key: readability-identifier-naming.GlobalConstantPointerCase
    value: UPPER_CASE
  - key: readability-identifier-naming.GlobalConstantPointerPrefix
    value: ""
  - key: readability-identifier-naming.GlobalConstantPointerSuffix
    value: ""
  - key: readability-identifier-naming.GlobalConstantPointerIgnoredRegexp
    value: ""
  - key: readability-identifier-naming.GlobalConstantPointerHungarianPrefix
    value: ""

  #全局函数命名规则：大骆驼命名法
  - key: readability-identifier-naming.GlobalFunctionCase
    value: CamelCase
  - key: readability-identifier-naming.GlobalFunctionPrefix
    value: ""
  - key: readability-identifier-naming.GlobalFunctionSuffix
    value: ""
  - key: readability-identifier-naming.GlobalFunctionIgnoredRegexp
    value: "(is_)?[a-z]*(_(v|t|type|value))?"

  # 全局指针命名规则：小写，前缀为"g_"
  - key: readability-identifier-naming.GlobalPointerCase
    value: lower_case
  - key: readability-identifier-naming.GlobalPointerPrefix
    value: "g_"
  - key: readability-identifier-naming.GlobalPointerSuffix
    value: ""
  - key: readability-identifier-naming.GlobalPointerIgnoredRegexp
    value: "tls_.*"
  - key: readability-identifier-naming.GlobalPointerHungarianPrefix
    value: ""

  # 全局变量命名规则：小写，前缀为"g_"
  - key: readability-identifier-naming.GlobalVariableCase
    value: lower_case
  - key: readability-identifier-naming.GlobalVariablePrefix
    value: "g_"
  - key: readability-identifier-naming.GlobalVariableSuffix
    value: ""
  - key: readability-identifier-naming.GlobalVariableIgnoredRegexp
    value: "tls_.*"
  - key: readability-identifier-naming.GlobalVariableHungarianPrefix
    value: ""

  # 主函数忽略
  - key: readability-identifier-naming.IgnoreMainLikeFunctions
    value: true

  # 内联命名空间命名规则：大骆驼命名法
  - key: readability-identifier-naming.InlineNamespaceCase
    value: CamelCase
  - key: readability-identifier-naming.InlineNamespacePrefix
    value: ""
  - key: readability-identifier-naming.InlineNamespaceSuffix
    value: ""
  - key: readability-identifier-naming.InlineNamespaceIgnoredRegexp
    value: ""

  # 局部常量命名规则：全部大写
  - key: readability-identifier-naming.LocalConstantCase
    value: UPPER_CASE
  - key: readability-identifier-naming.LocalConstantPrefix
    value: ""
  - key: readability-identifier-naming.LocalConstantSuffix
    value: ""
  - key: readability-identifier-naming.LocalConstantIgnoredRegexp
    value: "[._a-z]*(type|t|value|v)"
  - key: readability-identifier-naming.LocalConstantHungarianPrefix
    value: ""

  # 局部常量指针命名规则：全部大写
  - key: readability-identifier-naming.LocalConstantPointerCase
    value: UPPER_CASE
  - key: readability-identifier-naming.LocalConstantPointerPrefix
    value: ""
  - key: readability-identifier-naming.LocalConstantPointerSuffix
    value: ""
  - key: readability-identifier-naming.LocalConstantPointerIgnoredRegexp
    value: ""
  - key: readability-identifier-naming.LocalConstantPointerHungarianPrefix
    value: ""

  # 局部指针命名规则：小写
  - key: readability-identifier-naming.LocalPointerCase
    value: lower_case
  - key: readability-identifier-naming.LocalPointerPrefix
    value: ""
  - key: readability-identifier-naming.LocalPointerSuffix
    value: ""
  - key: readability-identifier-naming.LocalPointerIgnoredRegexp
    value: ""
  - key: readability-identifier-naming.LocalPointerHungarianPrefix
    value: ""

  # 局部变量命名规则：小写
  - key: readability-identifier-naming.LocalVariableCase
    value: lower_case
  - key: readability-identifier-naming.LocalVariablePrefix
    value: ""
  - key: readability-identifier-naming.LocalVariableSuffix
    value: ""
  - key: readability-identifier-naming.LocalVariableIgnoredRegexp
    value: ""
  - key: readability-identifier-naming.LocalVariableHungarianPrefix
    value: ""

  # 宏定义命名规则：全部大写
  - key: readability-identifier-naming.MacroDefinitionCase
    value: UPPER_CASE
  - key: readability-identifier-naming.MacroDefinitionPrefix
    value: ""
  - key: readability-identifier-naming.MacroDefinitionSuffix
    value: ""
  - key: readability-identifier-naming.MacroDefinitionIgnoredRegexp
    value: ""

  # 成员变量命名规则：小写，使用_作为前缀
  - key: readability-identifier-naming.MemberCase
    value: lower_case
  - key: readability-identifier-naming.MemberPrefix
    value: ""
  - key: readability-identifier-naming.MemberSuffix
    value: ""
  - key: readability-identifier-naming.MemberIgnoredRegexp
    value: ""
  - key: readability-identifier-naming.MemberHungarianPrefix
    value: ""

  # 方法命名规则：大骆驼命名法
  - key: readability-identifier-naming.MethodCase
    value: CamelCase
  - key: readability-identifier-naming.MethodPrefix
    value: ""
  - key: readability-identifier-naming.MethodSuffix
    value: ""
  - key: readability-identifier-naming.MethodIgnoredRegexp
    value: ""

  # 命名空间命名规则：大骆驼命名法
  - key: readability-identifier-naming.NamespaceCase
    value: CamelCase
  - key: readability-identifier-naming.NamespacePrefix
    value: ""
  - key: readability-identifier-naming.NamespaceSuffix
    value: ""
  - key: readability-identifier-naming.NamespaceIgnoredRegexp
    value: ""

  # 参数命名规则：小骆驼命名法
  - key: readability-identifier-naming.ParameterCase
    value: lower_case
  - key: readability-identifier-naming.ParameterPrefix
    value: ""
  - key: readability-identifier-naming.ParameterSuffix
    value: ""
  - key: readability-identifier-naming.ParameterIgnoredRegexp
    value: ""
  - key: readability-identifier-naming.ParameterHungarianPrefix
    value: ""

  # 参数包命名规则：小骆驼命名法
  - key: readability-identifier-naming.ParameterPackCase
    value: lower_case
  - key: readability-identifier-naming.ParameterPackPrefix
    value: ""
  - key: readability-identifier-naming.ParameterPackSuffix
    value: ""
  - key: readability-identifier-naming.ParameterPackIgnoredRegexp
    value: ""

  # 指针参数命名规则：小骆驼命名法
  - key: readability-identifier-naming.PointerParameterCase
    value: lower_case
  - key: readability-identifier-naming.PointerParameterPrefix
    value: ""
  - key: readability-identifier-naming.PointerParameterSuffix
    value: ""
  - key: readability-identifier-naming.PointerParameterIgnoredRegexp
    value: ""
  - key: readability-identifier-naming.PointerParameterHungarianPrefix
    value: ""

  # 私有成员变量命名规则：小写，前缀为"_"
  - key: readability-identifier-naming.PrivateMemberCase
    value: lower_case
  - key: readability-identifier-naming.PrivateMemberPrefix
    value: "_"
  - key: readability-identifier-naming.PrivateMemberSuffix
    value: ""
  - key: readability-identifier-naming.PrivateMemberIgnoredRegexp
    value: "signals"
  - key: readability-identifier-naming.PrivateMemberHungarianPrefix
    value: ""

  # 私有方法命名规则：大骆驼命名法
  - key: readability-identifier-naming.PrivateMethodCase
    value: CamelCase
  - key: readability-identifier-naming.PrivateMethodPrefix
    value: ""
  - key: readability-identifier-naming.PrivateMethodSuffix
    value: ""
  - key: readability-identifier-naming.PrivateMethodIgnoredRegexp
    value: "Signal_.*"

  # 受保护成员变量命名规则：小写，前缀为"_"
  - key: readability-identifier-naming.ProtectedMemberCase
    value: lower_case
  - key: readability-identifier-naming.ProtectedMemberPrefix
    value: "_"
  - key: readability-identifier-naming.ProtectedMemberSuffix
    value: ""
  - key: readability-identifier-naming.ProtectedMemberIgnoredRegexp
    value: ""
  - key: readability-identifier-naming.ProtectedMemberHungarianPrefix
    value: ""

  # 受保护方法命名规则：大骆驼命名法
  - key: readability-identifier-naming.ProtectedMethodCase
    value: CamelCase
  - key: readability-identifier-naming.ProtectedMethodPrefix
    value: ""
  - key: readability-identifier-naming.ProtectedMethodSuffix
    value: ""
  - key: readability-identifier-naming.ProtectedMethodIgnoredRegexp
    value: "Signal_.*"

  # 公开成员变量命名规则：小写
  - key: readability-identifier-naming.PublicMemberCase
    value: lower_case
  - key: readability-identifier-naming.PublicMemberPrefix
    value: ""
  - key: readability-identifier-naming.PublicMemberSuffix
    value: ""
  - key: readability-identifier-naming.PublicMemberIgnoredRegexp
    value: ""
  - key: readability-identifier-naming.PublicMemberHungarianPrefix
    value: ""

  # 公开方法命名规则：大骆驼命名法
  - key: readability-identifier-naming.PublicMethodCase
    value: CamelCase
  - key: readability-identifier-naming.PublicMethodPrefix
    value: ""
  - key: readability-identifier-naming.PublicMethodSuffix
    value: ""
  - key: readability-identifier-naming.PublicMethodIgnoredRegexp
    value: "Signal_.*"

  # 范围内枚举常量命名规则：全部大写
  - key: readability-identifier-naming.ScopedEnumConstantCase
    value: UPPER_CASE
  - key: readability-identifier-naming.ScopedEnumConstantPrefix
    value: ""
  - key: readability-identifier-naming.ScopedEnumConstantSuffix
    value: ""
  - key: readability-identifier-naming.ScopedEnumConstantIgnoredRegexp
    value: ""

  # 静态常量命名规则：全部大写
  - key: readability-identifier-naming.StaticConstantCase
    value: UPPER_CASE
  - key: readability-identifier-naming.StaticConstantPrefix
    value: ""
  - key: readability-identifier-naming.StaticConstantSuffix
    value: ""
  - key: readability-identifier-naming.StaticConstantIgnoredRegexp
    value: "[._a-z]*(type|t|value|v)"
  - key: readability-identifier-naming.StaticConstantHungarianPrefix
    value: ""

  # 静态变量命名规则：小写
  - key: readability-identifier-naming.StaticVariableCase
    value: lower_case
  - key: readability-identifier-naming.StaticVariablePrefix
    value: ""
  - key: readability-identifier-naming.StaticVariableSuffix
    value: ""
  - key: readability-identifier-naming.StaticVariableIgnoredRegexp
    value: ""
  - key: readability-identifier-naming.StaticVariableHungarianPrefix
    value: ""

  # 结构体命名规则：大骆驼命名法
  - key: readability-identifier-naming.StructCase
    value: CamelCase
  - key: readability-identifier-naming.StructPrefix
    value: ""
  - key: readability-identifier-naming.StructSuffix
    value: ""
  - key: readability-identifier-naming.StructIgnoredRegexp
    value: "(is_)?[a-z]*(_(v|t|type|value))?"

  # 模板参数命名规则：小骆驼命名法
  - key: readability-identifier-naming.TemplateParameterCase
    value: CamelCase
  - key: readability-identifier-naming.TemplateParameterPrefix
    value: ""
  - key: readability-identifier-naming.TemplateParameterSuffix
    value: ""
  - key: readability-identifier-naming.TemplateParameterIgnoredRegexp
    value: ""

  # 模板参数模板命名规则：小骆驼命名法
  - key: readability-identifier-naming.TemplateTemplateParameterCase
    value: CamelCase
  - key: readability-identifier-naming.TemplateTemplateParameterPrefix
    value: ""
  - key: readability-identifier-naming.TemplateTemplateParameterSuffix
    value: ""
  - key: readability-identifier-naming.TemplateTemplateParameterIgnoredRegexp
    value: ""

  # 类型别名命名规则：大骆驼命名法
  - key: readability-identifier-naming.TypeAliasCase
    value: CamelCase
  - key: readability-identifier-naming.TypeAliasPrefix
    value: ""
  - key: readability-identifier-naming.TypeAliasSuffix
    value: ""
  - key: readability-identifier-naming.TypeAliasIgnoredRegexp
    value: "[._a-z]*(type|t|value|v)"

  # 类型定义命名规则：大骆驼命名法
  - key: readability-identifier-naming.TypedefCase
    value: CamelCase
  - key: readability-identifier-naming.TypedefPrefix
    value: ""
  - key: readability-identifier-naming.TypedefSuffix
    value: "_t"
  - key: readability-identifier-naming.TypedefIgnoredRegexp
    value: ""

  # 类型模板参数命名规则：大骆驼命名法
  - key: readability-identifier-naming.TypeTemplateParameterCase
    value: CamelCase
  - key: readability-identifier-naming.TypeTemplateParameterPrefix
    value: ""
  - key: readability-identifier-naming.TypeTemplateParameterSuffix
    value: ""
  - key: readability-identifier-naming.TypeTemplateParameterIgnoredRegexp
    value: ""

  # 联合体命名规则：大骆驼命名法
  - key: readability-identifier-naming.UnionCase
    value: CamelCase
  - key: readability-identifier-naming.UnionPrefix
    value: ""
  - key: readability-identifier-naming.UnionSuffix
    value: ""
  - key: readability-identifier-naming.UnionIgnoredRegexp
    value: ""

  # 值模板参数命名规则：全部大写
  - key: readability-identifier-naming.ValueTemplateParameterCase
    value: UPPER_CASE
  - key: readability-identifier-naming.ValueTemplateParameterPrefix
    value: ""
  - key: readability-identifier-naming.ValueTemplateParameterSuffix
    value: ""
  - key: readability-identifier-naming.ValueTemplateParameterIgnoredRegexp
    value: ""

  # 变量命名规则：小写
  - key: readability-identifier-naming.VariableCase
    value: lower_case
  - key: readability-identifier-naming.VariablePrefix
    value: ""
  - key: readability-identifier-naming.VariableSuffix
    value: ""
  - key: readability-identifier-naming.VariableIgnoredRegexp
    value: ""
  - key: readability-identifier-naming.VariableHungarianPrefix
    value: ""

  # 虚方法命名规则：大骆驼命名法
  - key: readability-identifier-naming.VirtualMethodCase
    value: CamelCase
  - key: readability-identifier-naming.VirtualMethodPrefix
    value: ""
  - key: readability-identifier-naming.VirtualMethodSuffix
    value: ""
  - key: readability-identifier-naming.VirtualMethodIgnoredRegexp
    value: ""

  # 警告所有自动复制
  - key: performance-for-range-copy.WarnOnAllAutoCopies
    value: "0"

  # 限制函数的控制语句数
  - key: readability-function-size.BranchThreshold
    value: "-1"

  # 限制函数的行数
  - key: readability-function-size.LineThreshold
    value: "-1"

  # 限制函数的参数数量
  - key: readability-function-size.ParameterThreshold
    value: "-1"

  # 限制函数的语句数
  - key: readability-function-size.StatementThreshold
    value: "800"
