[submodule "3rd/json"]
	path = 3rd/json
	url = git@github.com:nlohmann/json.git
[submodule "3rd/googletest"]
	path = 3rd/googletest
	url = git@github.com:google/googletest.git
[submodule "3rd/spdlog"]
	path = 3rd/spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "3rd/qwindowkit"]
	path = 3rd/qwindowkit
	url = https://github.com/stdware/qwindowkit
[submodule "3rd/benchmark"]
	path = 3rd/benchmark
	url = https://github.com/google/benchmark.git
[submodule "3rd/QCustomPlot"]
	path = 3rd/QCustomPlot
	url = https://github.com/dimv36/QCustomPlot-library.git
