# Ignore cmake generated directories and files
build/*
JX3DPS.pro.user

# Ignore Visual Studio Code files
.vscode/*
.VSCodeCounter/*

# Ignore macOS files
.DS_Store

# Ignore clang-format test file
clang-format.cpp